<a [routerLink]="['/article/', news.url]" class="list-item">
  <mat-card class="card">
    <mat-card-title>
      <img
        [attr.data-src]="news.coverImageUrl"
        *ngIf="news.coverImageUrl && showImage"
        class="lazyload image"
        (error)="onImgError()"
      />
      {{ news.title }}</mat-card-title
    >
    <mat-card-content>{{ news.description }}</mat-card-content>
    <mat-card-subtitle *ngIf="news.subtitle">{{
      news.subtitle
    }}</mat-card-subtitle>
  </mat-card>
</a>
