<ng-container *ngIf="article$ | async as articleQuery; else loadingTemplate">
  <ng-container *ngIf="!articleQuery.loading; else loadingTemplate">
    <ng-container
      *ngIf="articleQuery?.data?.article as article; else notFoundTemplate"
    >
      <!-- Article content -->
      <h2>{{ article.title || "No title found" }}</h2>
      <p class="mat-caption">
        {{ article.description || "No description found" }}
      </p>
      <div class="link-container">
        <a [href]="article.url" *ngIf="article.url" class="link">{{
          urlHost(article.url)
        }}</a>
      </div>
      <img
        *ngIf="article.coverImageUrl && showImage"
        [attr.data-src]="article.coverImageUrl"
        class="lazyload image"
        (error)="onImgError()" />
      <div [innerHtml]="article.content || 'No content found'"></div
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="articleQuery.error">
    <!-- Error template -->
    Got error {{ articleQuery.error }}
  </ng-container>
</ng-container>

<ng-template #loadingTemplate
  ><!-- Loading template -->
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner
  >Loading...</ng-template
>
<ng-template #notFoundTemplate>
  <!-- Not found template -->
  Article not found</ng-template
>
