.image {
  max-width: min(90vw, 1000px);
}

.link-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  color: blue;
  text-decoration: underline;
  text-align: center;
}

.link:visited {
  color: blue;
  text-decoration: underline;
}
