.container-center {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: min(90vw, 1000px);
  flex-direction: column;
}

.homebutton {
  margin-bottom: 1rem;
}
