<ng-container
  *ngIf="homepageQuery$ | async as homepageQuery; else loadTemplate"
>
  <ng-container *ngIf="homepageQuery.data; else noDataTemplate">
    <!-- Finish checks -->
    <a
      matLine
      *ngFor="let news of homepageQuery.data.articles"
      [routerLink]="['/article/', news.url]"
      class="list-item"
    >
      <app-news-card [news]="news"></app-news-card>
    </a>
  </ng-container>
  <ng-container *ngIf="homepageQuery.error">
    <!-- Error template -->
    Got error {{ homepageQuery.error }}
  </ng-container>
</ng-container>

<ng-template #noDataTemplate>
  <!-- No data template -->
  No data received from API</ng-template
>
<ng-template #loadTemplate>
  <!-- Loading template -->
  <mat-progress-spinner
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
  Loading news...</ng-template
>
